[submodule "vim/bundle/syntastic.git"]
	path = vim/bundle/syntastic.git
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-fugitive.git"]
	path = vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-markdown.git"]
	path = vim/bundle/vim-markdown.git
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "docker_helper"]
	path = docker_helper
	url = https://github.com/awproksel/docker_helper.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
